dub.selections.json
.dub
callgrind.out*
docs.json
__dummy.html
docs/
*.exe
*.o
*.obj
*.lst

/atomize_vcf
atomize_vcf.so
atomize_vcf.dylib
atomize_vcf.dll
atomize_vcf.a
atomize_vcf.lib
atomize_vcf-test-*

/depthgauge
depthgauge.so
depthgauge.dylib
depthgauge.dll
depthgauge.a
depthgauge.lib
depthgauge-test-*

/varquery
varquery.so
varquery.dylib
varquery.dll
varquery.a
varquery.lib
varquery-test-*

/wrangler
wrangler.so
wrangler.dylib
wrangler.dll
wrangler.a
wrangler.lib
wrangler-test-*

/jsonlops
libjsonlops.so
libjsonlops.dylib
libjsonlops.dll
libjsonlops.a
libjsonlops.lib
libjsonlops-test-*