dub.selections.json
.dub
callgrind.out*
docs.json
__dummy.html
docs/
*.exe
*.o
*.obj
*.lst
*.vcf.gz
*.vcf

atomization/atomize_vcf/atomize_vcf
atomize_vcf.so
atomize_vcf.dylib
atomize_vcf.dll
atomize_vcf.a
atomize_vcf.lib
atomize_vcf-test-*

depthGauge/depthgauge
depthgauge.so
depthgauge.dylib
depthgauge.dll
depthgauge.a
depthgauge.lib
depthgauge-test-*

filtering/varquery/varquery
varquery.so
varquery.dylib
varquery.dll
varquery.a
varquery.lib
varquery-test-*

manipulation/wrangler/wrangler
wrangler.so
wrangler.dylib
wrangler.dll
wrangler.a
wrangler.lib
wrangler-test-*

jsonlops/jsonlops
libjsonlops.so
libjsonlops.dylib
libjsonlops.dll
libjsonlops.a
libjsonlops.lib
libjsonlops-test-*