{% extends 'base.html' %}

{% block content %}
    <h1>Upload your VCFs</h1>
    <p class="lead">In order to mucorelate your data we need to see it first!</p>
    <form method=post enctype=multipart/form-data action="/">
        <p><input class="form-control-file" type=file name=files multiple></p>
        <p>
            <input type=submit value=Upload class="btn btn-lg btn-primary" role="button">
        </p>
    </form>
    {% if files%}

    <h4>Uploaded Files</h4>

    {% for file in files %}
    <form method=post action="/remove">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{ file }}" name="upload-remove" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
            <div class="input-group-append">
                <button type=submit class="btn btn-danger" type="button">Remove</button>
            </div>
        </div>
    </form>
    {% endfor %}
    {% endif %}
    <form action="/atomize" method="post">
        {% if files%}

        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-lg btn-success" action="/mucorelate">
            Mucorelate!
        </button>

        {% else %}

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseURL" aria-expanded="false" aria-controls="collapseURL">
          Use JSONL data source
        </button>
        <div class="collapse" id="collapseURL">
            <div class="card card-body">
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Query URL</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="basic-addon2" name="json-url">
                      <button type="submit" class="btn btn-lg btn-success" action="/mucorelate">
                          Mucorelate!
                      </button>
                </div>
            </div>
        </div>

        {% endif %}
    </form>
{% endblock %}
