{% extends 'base.html' %}

{% block content %}
    <h1>Waiting on jobs</h1>
    {% for x in status%}
    {% for k,v in x.items() %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="{{k}}" name="upload-remove" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
        <div class="input-group-append">
            {% if v %}
            <i class="fas fa-check fa-2x"></i>
            {% else %}
            <i class="fas fa-circle fa-2x"></i>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
 <meta http-equiv="refresh" content="2" />
{% endblock %}
